* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  color: #424242;
  background-color: lightskyblue;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.countries {
  width: 100vw;
  display: flex;
  font-size: 2rem;
  overflow-x: auto;
  opacity: 0;
  transition: opacity 1s;
  padding: 3rem;
}

form {
  display: flex;
  flex-direction: column;
  margin: 3rem 0 0 3rem;
}

label {
  font-family: system-ui;
  font-size: 1.8rem;
  font-weight: 500;
  color: #424242;
  text-align: center;
}

input {
  border-radius: 0.5rem;
  border: 0.2rem inset #f7f7f7;
  padding: 0.7rem;
  margin: 1rem;
  background-color: #fff;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
}

.country {
  background-color: #fff;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
  font-size: 1.8rem;
  width: 30rem;
  border-radius: 0.7rem;
  margin: 0 3rem;
}

.neighbour::before {
  content: 'Neighbour country';
  width: 100%;
  position: absolute;
  top: -4rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #424242;
}

.neighbour {
  transform: scale(0.8) translateY(1rem);
  margin-left: 0;
}

.country__img {
  width: 30rem;
  height: 17rem;
  object-fit: cover;
  background-color: #eee;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
}

.country__data {
  padding: 2.5rem 3.75rem 3rem 3.75rem;
}

.country__name {
  font-size: 2.7rem;
  margin-bottom: 0.7rem;
}

.country__region {
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
  color: #424242;
}

.country__row:not(:last-child) {
  margin-bottom: 1rem;
}

.country__row span {
  display: inline-block;
  margin-right: 2rem;
  font-size: 2.4rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 3rem;
}

.btn-country {
  font-size: 2rem;
  padding: 2rem 5rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border: none;
  color: white;
  background-color: orangered;
  cursor: pointer;
  font-weight: 500;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

.btn-country:hover {
  color: #111C27;
  background-color: #FFBB8A;
}

.error-container {
  padding: 0 3rem 3rem 0;
}

.error-message {
  font-family: system-ui;
  font-size: 2rem;
  font-weight: 500;
  color: #3D0000;
  text-align: center;
}

#scrollbar::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

#scrollbar::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

#scrollbar::-webkit-scrollbar-thumb
{
  background-color: #ff6a00;
  background-image: -webkit-linear-gradient(45deg,
  rgba(255, 255, 255, .2) 25%,
  transparent 25%,
  transparent 50%,
  rgba(255, 255, 255, .2) 50%,
  rgba(255, 255, 255, .2) 75%,
  transparent 75%,
  transparent)
}



